.footer{
    background: url('../../assets/Backgrounds/Bg_Footer.png');
    text-align: center;
    padding: 10%;
}
h1{
    font-size: 400%;
    font-family: Monserrat-medium;
    margin: 10px;
}

h2{
    font-size: 300%;
    font-family: Monserrat-medium;
    margin: 10px;
}

h3{
    font-size: 200%;
    font-family: Monserrat-semi-bold;
    margin: 20px;

}

.footer-button{
    border: none;
    background-color: #2596be;
    color: #ffffff;
    border-radius: 50px;
    padding-left: 4%;
    padding-right: 4%;
    margin: 4%;
    
}

.blue-font{
    color: #2596be;
}