
  <nav class="navbar" (window:scroll)="onWindowScroll();"> 
    <ul class="menu">
       <li class="logo"><a href="#"><img class="icon" src="assets/logo_full_color.svg" alt="Wolox"></a></li> 
      <li class="item button secondary"><a href="#">Inicio</a></li> 
      <li class="item button secondary"><a href="#">Beneficios</a></li> 
      <li class="item button button-login" (click)="goToLogin()" >Login</li> 
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li> 
    </ul> 
  </nav>

  <div class="main">
    <router-outlet></router-outlet>
    
  </div>

