
<div class="container">
    <div class="brand-title">Registro</div>
    <div class="inputs">
      <label>Nombre</label>
      <input type="text"/><br>
      <label>Apellido</label>
      <input type="text" placeholder="example@test.com" /><br>
      <label>País</label>
      <input type="text" placeholder="example@test.com" /><br>
      <label>Email</label>
      <input type="email" placeholder="example@test.com" /><br>
      <label>Teléfono</label>
      <input type="number" placeholder="example@test.com" /><br>
      <label>Contraseña</label>
      <input type="password" placeholder="Min 6 charaters long"/><br>
      <label>Confirmar Contraseña</label>
      <input type="password" placeholder="Min 6 charaters long" />
      <button type="submit">LOGIN</button>
    </div>
  </div>